<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>EnableC6</key>
			<true/>
			<key>EnableC2</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<true/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<true/>
				<key>CStates</key>
				<false/>
			</dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC4</key>
			<true/>
			<key>PluginType</key>
			<string>1</string>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SortedOrder</key>
		<array>
			<string>SSDT.aml</string>
			<string>SSDT-PNLF.aml</string>
			<string>SSDT-2-Cpu0Ist.aml</string>
		</array>
		<key>PatchAPIC</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>SlpSmiAtWake</key>
			<true/>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUNEVg==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>ECDV to EC</string>
				</dict>
			</array>
			<key>SuspendOverride</key>
			<true/>
			<key>Fixes</key>
			<dict>
				<key>AddMCHC</key>
				<false/>
				<key>FixS3D</key>
				<true/>
				<key>AddHDMI</key>
				<true/>
				<key>AddPNLF</key>
				<true/>
				<key>FixSATA</key>
				<true/>
				<key>FixUSB</key>
				<true/>
			</dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>DisableASPM</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverHibernate</key>
		<true/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>CustomLogo</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>darkwake=0 debug=0x100 keepsyms=1 alcid=12 -xcpm -v</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>2</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Theme</key>
		<string>dark-mini</string>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Hide</key>
		<array>
			<string>Recovery HD</string>
		</array>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<string>First</string>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1366x768</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>TDP</key>
		<integer>15</integer>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<true/>
			<key>Inject</key>
			<string>Detect</string>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>UseIntelHDMI</key>
		<true/>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>PciAddr</key>
				<string>01:00:00</string>
				<key>Comment</key>
				<string>O2Micro Internal SDCard</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device_type</string>
						<key>Value</key>
						<string>Media controller</string>
						<key>Disabled</key>
						<false/>
					</dict>
					<dict>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>O2 Micro SD card reader</string>
						<key>Disabled</key>
						<false/>
					</dict>
					<dict>
						<key>Key</key>
						<string>name</string>
						<key>Value</key>
						<string>SD/MMC Card Reader</string>
						<key>Disabled</key>
						<false/>
					</dict>
					<dict>
						<key>Key</key>
						<string>compatible</string>
						<key>Value</key>
						<string>pci14e4,16bc</string>
						<key>Disabled</key>
						<false/>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>CqqqAA==</data>
						<key>Disabled</key>
						<false/>
					</dict>
				</array>
			</dict>
		</array>
		<key>HDMIInjection</key>
		<true/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x3,0x0)</key>
			<dict>
				<key>framebuffer-con1-type</key>
				<data>qgCqAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>CqqqAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>C6qqAA==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>ig-platform-id</key>
		<string>0x0a260006</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>hQjsEA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>AppleHDA ALC 292 #3</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQAAdSU=</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>AQAA6yU=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>SecondStagePatch 10.12</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>gxnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>AppleHDA #4</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>hAjsEA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>AppleHDA ALC 292 #2</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAYAA=</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>BgAmCgEDAwMAAAACAAAwAQAAkAA=</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>0x0a260006 9MB cursor bytes patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAACHAAAA</data>
				<key>Name</key>
				<string>AppleIntelFramebufferAzul</string>
				<key>Replace</key>
				<data>AQUSAAAIAACHAAAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI-audio</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>change F%uT%04x to F%uTxxxx for AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>External Icon Patch</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>kgLsEA==</data>
				<key>Disabled</key>
				<true/>
				<key>Comment</key>
				<string>AppleHDA ALC 292 #1</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g710////EA==</data>
				<key>Comment</key>
				<string>change 15 port limit to 20 in XHCI kext (9-series)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g710////FQ==</data>
				<key>MatchOS</key>
				<string>10.12.x</string>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>Board-ID</key>
		<string>Mac-7DF21CB3ED6977E5</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>NoRomInfo</key>
		<false/>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>BiosVersion</key>
		<string>MBA61.88Z.F000.B00.2006101810</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Air-Enclosure</string>
		<key>Family</key>
		<string>MacBook Air</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02520207CDFD47A8</string>
		<key>ProductName</key>
		<string>MacBookAir6,2</string>
		<key>SmUUID</key>
		<string>38C6492D-1E19-496F-BF68-4100FD460AC4</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>SerialNumber</key>
		<string>C02PQAZJF5V7</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>06/10/2020</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
</dict>
</plist>